mixin downloadblock(download={})
            li.pl-3.pr-4.py-3.flex.items-center.justify-between.text-sm
                .w-0.flex-1.flex.items-center
                    svg.flex-shrink-0.h-5.w-5.text-gray-400(x-description='Heroicon name: solid/paper-clip' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
                        path(fill-rule='evenodd' d='M8 4a3 3 0 00-3 3v4a5 5 0 0010 0V7a1 1 0 112 0v4a7 7 0 11-14 0V7a5 5 0 0110 0v4a3 3 0 11-6 0V7a1 1 0 012 0v4a1 1 0 102 0V7a3 3 0 00-3-3z' clip-rule='evenodd')
                    span.ml-2.flex-1.w-0.truncate
                        | cs.pdf
                .ml-4.flex-shrink-0
                    a.font-medium.text-blue-600(href=`${download.link}` class='hover:text-blue-500')
                        | Download
