extends main/main.pug


block content
    .formContainer
        form(action="/post", method="post")
            label(for='department-select') Choose a Department:
            select(name='department')
                each val in Department
                    option(value=val)= val

            label(for='semester-select') Choose a Semester:
            select(name='semester')
                each val in Semester
                    option(value=val)= val

            label(for='year-select') Choose a Year:
            select(name='year')
                each val in Year
                    option(value=val)= val

            label(for='type-select') Choose a Type:
            select(name='type')
                each val in Type
                    option(value=val)= val
            label(name="title") Title:
            input(name="title", placeholder="title", type="text")
            label(name="subject") Subject Name:
            input(name="subject", placeholder="subject", type="text")
            label(name="body") Description Name:
            textarea(name="body", placeholder="description", type="text")
            input(type="submit", value="Post")




